<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
    .something{
        color: aliceblue;
        font-size: small;
        transition-duration: 390ms ;
    }
    .something:hover{
        color: aliceblue;
        font-size: larger;
    }
</style>


<body style="background-color:rgb(255, 255, 255)">
    <nav class="navbar" style="background-color:#333">
        <img src="https://github.com/Sem6-Mp/Book_recomm/blob/main/templates/cartoon-bookworm-vector-removebg-preview.png?raw=true" style="float: left" height="71px" width="75px">
        <label class="navbar-brand" style="color: beige;font-family: cursive;font-size: 40px;">Book Worm</label>
        
        <label class="something" style="color: aliceblue;" onclick="window.location.href='/'">Back to Home</label>
       
     
    </nav>
  
    
            
       
    </nav>
</body>
</html>


{% block content %}
<h1 style="color:black" >You are signed out!!!</h1>
<center><img  src = "https://github.com/Sem6-Mp/Book_recomm/blob/main/templates/image-removebg-preview.png?raw=true"></center>
{% endblock %}